body {
  background-color: #f7e4d4;
}

body #root {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body #root h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'EB Garamond', serif;
  font-weight: 400;
  font-size: 48px;
  color: #467745;
}

@media (max-width: 520px) {
  body #root h1 {
    margin: 0;
    position: relative;
    left: 0%;
    -webkit-transform: translate(-30%, -20%);
            transform: translate(-30%, -20%);
    font-size: 36px;
  }
}

body #root input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 480px;
  height: 64px;
  margin-bottom: 20px;
  border-style: none;
}

@media (max-width: 520px) {
  body #root input {
    width: calc(100%-40px);
    margin-left: 20px;
  }
}

body #root textarea::-webkit-input-placeholder, body #root input::-webkit-input-placeholder {
  padding-left: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #467745;
}

body #root textarea:-ms-input-placeholder, body #root input:-ms-input-placeholder {
  padding-left: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #467745;
}

body #root textarea::-ms-input-placeholder, body #root input::-ms-input-placeholder {
  padding-left: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #467745;
}

body #root textarea::placeholder, body #root input::placeholder {
  padding-left: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #467745;
}

body #root textarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 480px;
  height: 120px;
  margin-bottom: 20px;
  border-style: none;
}

@media (max-width: 520px) {
  body #root textarea {
    width: calc(100%-40px);
    margin-left: 20px;
  }
}

body #root #form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15px;
  height: 15px;
}

body #root label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #467745;
}

body #root label a {
  color: #467745;
}

body #root button {
  margin: 0;
  position: relative;
  top: 0%;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  width: 280px;
  height: 80px;
  border-style: none;
  border-radius: 30%;
  font-family: 'EB Garamond', serif;
  font-weight: 400;
  font-size: 21px;
  color: #f7e4d4;
  letter-spacing: 0.2em;
  background-color: #467745;
}
/*# sourceMappingURL=style.css.map */